*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*estas propiedades se asignan con la intención de reiniciar los estilos de la página,
 a su vez, el valor border-box de box-sizing, establece que cada elemento dispondrá sólo el valor de su tamaño*/
:root{
    --very-light-pink: #c7c7c7;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --tex-input-field: #F7F7F7;
    --hospital-green: #acd9d7;
}
body{
    font-family: 'Quicksand', sans-serif;
}